body {
    background-color: #181719;
    color: white;
    margin: 0;
    padding: 0 40px;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    margin-top: 10px;
}

.logo {
    width: 40%;
    /* text-align: center; */
}

.logo h2 {
    border: 2px solid white;
    display: inline-block;
    padding: 4px 10px;
    /* margin-left: 40px; */
}

ul {
    width: 60%;
    /* border: 1px solid gold; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

ul li a.active {
    text-decoration: underline;
}

.container {
    display: flex;
    margin-top: 50px;
    /* border: 2px solid gold; */
}

.content {
    width: 50%;
    padding-right: 83px;
    border: 1px solid saddlebrown;
}

.content h3 {
    margin-top: 40px;
    font-size: 1.5rem;
}

.content p {
    margin-top: 40px;
}

.content a {
    margin-top: 40px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
}

.image {
    width: 50%;
    position: relative;
    margin: auto;
    border: 1px solid green;
}

.image img {
    width: 100%;
}

.card {
    width: 30%;
    min-width: 260px;
    height: 150px;
    background-color: #181719;
    padding: 1.5rem;
    position: absolute;
    bottom: 10px;
    right: 62px;
    transform: translateY(90%);
    box-shadow: 1px 1px 4px rgb(46, 42, 42);
}

.card__head {
    display: flex;
    align-items: center;
}

.card__name {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
}

.career {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 500;
    color: #828282;
    padding-top: 0.5rem;
}


/* .card__description {
    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 40px;
} */

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2rem;
}

.footer {
    margin-top: 112px;
    text-align: center;
}

.footer p {
    color: #828282;
}

.hamburger,
.close {
    /* transform: translateX(500%); */
    /* display: none; */
    /* opacity: 0; */
    appearance: none;
    position: relative;
    display: block;
    cursor: pointer;
}

.hamburger:after,
.hamburger:before {
    content: " ";
    width: 100%;
    background-color: #ff0808;
    transition: 0.4s;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #181719;
    display: none;
    /* padding-top: 120px; */
}

.mobile-nav a {
    /* display: block; */
    text-align: center;
    margin-bottom: 20px;
    padding: 12px;
    background-color: #181719;
    width: fit-content;
    margin: 0;
    width: 100%;
    border: 1px solid #1a1919;
    color: white;
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
    .content {
        width: 100%;
    }
    .image {
        width: 100%;
        margin-top: 10px;
    }
    ul {
        display: none;
        /* visibility: none; */
    }
    .hamburger {
        /* transform: translateX(-50%); */
        display: inline;
        position: fixed;
        right: 20px;
        top: 10px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .close.visible {
        /* display: inline; */
        position: absolute;
        right: 20px;
        top: 10px;
        width: 50px;
        height: 50px;
    }
    /* .close {
        /* opacity: 0; */
    /* transform: translateX(-50%); */
    /* position: absolute;
    right: 20px;
    top: 10px;
    width: 50px;
    height: 50px;
} */
    .navlink.visible {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ff0808;
    }
}